# Cargo Configuration Template for 3.98" BWRY E-Paper Display Firmware

[build]
target = "riscv32imc-esp-espidf"
# target-dir = ""

[unstable]
build-std = ["std", "panic_abort"]

[target.riscv32imc-esp-espidf]
linker = "ldproxy"
rustflags = ["--cfg", "espidf_time64"]

[env]
ESP_IDF_VERSION = "v5.4"
ESP_IDF_SDKCONFIG_DEFAULTS = { value = "sdkconfig.defaults", relative = true }
ESP_IDF_PATH_ISSUES = "warn"
# ESP_IDF_TOOLS_INSTALL_DIR = "custom:"

# [target.x86_64-pc-windows-msvc]
# linker = ""

# [env]
# LIB = ""
